<!--Admin Dashboard-->
<div class="container opacity-75 align-items-center">
    <div class="row loadingElements">
        <div class="mt-4 p-5 bg-secondary text-white rounded text-center">
            <img class="text-light" src="./assets/logo.png" width="75%" alt="DS" />
            <br><br>
            <h1>Loading</h1>
            <h4>Please wait</h4>
            <br>
            <div class="d-flex justify-content-center">
                <div class="spinner-grow" role="status">
                </div>
                <div class="spinner-grow" role="status">
                </div>
                <div class="spinner-grow" role="status">
                </div>
                <div class="spinner-grow" role="status">
                </div>
                <div class="spinner-grow" role="status">
                </div>
                <div class="spinner-grow" role="status">
                </div>
                <div class="spinner-grow" role="status">
                </div>
            </div>
        </div>
    </div>
</div>